.cardsmap {
  font-size: 2em;
  text-align: center;
  width: 14%;
  border: 2px solid rgba(0, 0, 0, 0);
  margin: 1%;
  background-color: rgb(165, 189, 224);
}

.cardsmap.misMatch {
  border: 2px solid red;
}

.cardsmap.Match {
  border: 2px solid green;
}
