.row{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width:330px;
}

.showInfo{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 330px;
}

.alert-success{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 450px;
    text-align: center;
}